{{log @type}}
{{#if (eq @type "patch")}}
  <div class="w-24 text-center bg-green-400 font-medium text-green-900 py-1 text-xs rounded-full">PATCH</div>
  {{else if (eq @type "minor")}}
  <div class="w-24 text-center bg-yellow-400 font-medium text-yellow-900 py-1 text-xs rounded-full">MINOR</div>
  {{else if (eq @type "major")}}
  <div class="w-24 text-center bg-red-400 font-medium text-red-900 py-1 text-xs rounded-full">BREAKING</div>
{{else}}
  <div>-</div>
{{/if}}
