<div class="navbar">
  <div class="group-col">

    <LinkTo @route="index" class="nav-item">
      <i class="ri-dashboard-line nav-icon"></i>
    </LinkTo>

    <LinkTo @route="tasks" class="nav-item">
      <i class="ri-clipboard-line nav-icon"></i>
    </LinkTo>

    <LinkTo @route="files" class="nav-item">
      <i class="ri-file-copy-line nav-icon"></i>
    </LinkTo>

    <LinkTo @route="dependencies" class="nav-item">
      <i class="ri-radar-line nav-icon"></i>
    </LinkTo>

    <LinkTo @route="addons" class="nav-item">
      <i class="ri-syringe-line nav-icon"></i>
    </LinkTo>
  </div>

  <div class="group-col">
    <LinkTo @route="info" class="nav-item">
      <i class="ri-information-line nav-icon"></i>
    </LinkTo>
    <LinkTo @route="settings" class="nav-item">
      <i class="ri-settings-2-line nav-icon"></i>
    </LinkTo>
  </div>
</div>