<div class="test">
  <div class="test-inner">

    {{!-- PAGE HEADER --}}
    <div class="header">
      <div class="header-inner">
        <div class="header-icon-square">
          <i class="ri-flask-line header-icon"></i>
        </div>
        <h1 class="header-title">test</h1>
      </div>
    </div>

    {{!-- HORIRZONTAL SPLIT VIEW | left - right --}}
    <div class="test-split">
      <div class="test-split-right">

        {{!-- TOOLBAR --}}
        <div class="test-toolbar">
          {{!-- TOOLBAR LEFT - buttons --}}
          <div class="test-actions">
            <button type="button" class="flex items-center space-x-1 px-8 py-1 bg-gray-800 text-gray-100 rounded">
              <i class="ri-play-mini-line"></i>
              <span class="text-sm">Start</span>
            </button>
            <button type="button" class="flex items-center space-x-1 px-4 py-1 bg-gray-200 text-gray-800 rounded border border-gray-300">
              <i class="ri-settings-3-line"></i>
            </button>
          </div>

          {{!-- TOOLBAR RIGHT - command --}}
          <div class="test-command">
            <span >ember test --proxy http://localhost:90</span>
          </div>
        </div>

        {{!-- TERMINAL --}}
        <Terminal @command={{this.command}} @task="test" @callback={{this.socketCallback}} />
      </div>

      {{!-- TODO: test OPTIONS --}}
      {{!-- <div class="test-split-left bg-gray-800 p-6">
        <h2 class="text-lg text-gray-500">Options</h2>
        <label for="">
          acceptance
          <input type="text">
        </label>
        <label for="">
          unit
          <input type="text">
        </label>
      </div> --}}
    </div>
  </div>
</div>
