<main class="dashboard">

  {{!-- PAGE HEADER incl buttons--}}
  <div class="header">
    <div class="header-head">
      <h1 class="header-title">Dashboard</h1>
      <p class="header-text">Hello there, enjoy your coding! <span class="header-emoji">👋</span></p>
    </div>
    <div class="header-btn-group">
      <button type="button" class="btn-default">Costumize</button>
    </div>
  </div>

  {{!-- DASHBOARD TILES --}}
  <div class="main">
    <div class="card">

      {{!-- blog-feed TILE --}}
      <div class="card-header">
        <div class="group-row group-center space-x-2">
          <i class="ri-newspaper-line text-gray-700 leading-none"></i>
          <div class="card-title">
            Ember Blog Feed
          </div>
        </div>
        <a href="https://blog.emberjs.com/">
          <svg class="card-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
          </svg>
        </a>
      </div>

      <div class="card-content">
        {{!-- {{#async-await this.articles as |list|}}
        <div class="blog">
          {{#each list as |article|}}
          <div class="blog-article">
            <div class="article-title">
              {{article.elements.[0].elements.[0].text}}
            </div>
            <div class="article-date">
              {{format-datetime article.elements.[3].elements.[0].text}}
            </div>
            <div class="article-summary">
              {{{article.elements.[6].elements.[0].text}}}
            </div>
          </div>
          {{/each}}
        </div>
        {{else}}
        <div class="">spin </div>
        {{/async-await}} --}}
      </div>
      {{!-- blogfeed TILE END--}}
    </div>
  </div>
</main>