<div class="side-nav">

  {{!-- SIDE-NAV-HEAD --}}
  <div class="side-nav-head">
    <div class="side-nav-icon-square">
      <i class="ri-clipboard-line side-nav-icon"></i>
    </div>
    <span class="side-nav-head-title">Tasks</span>
  </div>

  {{!-- SIDE-NAV-LIST --}}
  <div class="side-nav-list">

      {{!-- serve --}}
    <LinkTo class="side-nav-link" @route="tasks.serve">
      <i class="ri-flashlight-line side-nav-link-icon"></i>
      <div class="flex flex-col">
        <span class="side-nav-link-title">Serve</span>
        <span class="side-nav-link-text">Serve your project for development</span>
      </div>
    </LinkTo>

      {{!-- test --}}
    <LinkTo class="side-nav-link" @route="tasks.test">
      <i class="ri-flask-line side-nav-link-icon"></i>
      <div class="flex flex-col">
        <span class="side-nav-link-title">Test</span>
        <span class="side-nav-link-text">Run your test-suite</span>
      </div>
    </LinkTo>

      {{!-- lint --}}
    <LinkTo class="side-nav-link" @route="tasks.lint">
      <i class="ri-shield-check-line side-nav-link-icon"></i>
      <div class="flex flex-col">
        <span class="side-nav-link-title">Lint</span>
        <span class="side-nav-link-text">Check your code for errors</span>
      </div>
    </LinkTo>

      {{!-- build --}}
    <LinkTo class="side-nav-link" @route="tasks.build">
      <i class="ri-stack-line side-nav-link-icon"></i>
      <div class="flex flex-col">
        <span class="side-nav-link-title">Build</span>
        <span class="side-nav-link-text">Build your app</span>
      </div>
    </LinkTo>
  </div>
</div>

{{!-- INDIVIUAL TASK PAGE --}}
{{outlet}}